@font-face {
  font-family: "iconfont"; /* Project id 2884511 */
  src: url("iconfont.woff2?t=1635939535081") format("woff2"),
    url("iconfont.woff?t=1635939535081") format("woff"),
    url("iconfont.ttf?t=1635939535081") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon1:before {
  content: "\e650";
}

.icon-fenlei:before {
  content: "\e601";
}

.icon-shijian:before {
  content: "\e602";
}

.icon-custom-business:before {
  content: "\e638";
}

.icon-icon:before {
  content: "\e651";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-gaiyao:before {
  content: "\e646";
}

.icon-category:before {
  content: "\e747";
}

.icon-fangda:before {
  content: "\ec13";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-github:before {
  content: "\e85a";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-coffee:before {
  content: "\e626";
}

.icon-QQ:before {
  content: "\e882";
}
