<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iwannnn.blog.mapper.BlogUserMapper">
    
    <resultMap type="BlogUser" id="BlogUserResult">
        <result property="userId"    column="user_id"    />
        <result property="account"    column="account"    />
        <result property="nickname"    column="nickname"    />
        <result property="password"    column="password"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="avatar"    column="avatar"    />
        <result property="birthday"    column="birthday"    />
        <result property="introduction"    column="introduction"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

	<resultMap type="BlogUserVo" id="BlogUserVoResult">
        <result property="userId"    column="user_id"    />
        <result property="account"    column="account"    />
        <result property="nickname"    column="nickname"    />
    </resultMap>

    <sql id="selectBlogUserVo">
        select user_id, account, nickname, password, phone, email, avatar, birthday, introduction, create_time, update_time, remark from blog_user
    </sql>

    <select id="selectBlogUserList" parameterType="BlogUser" resultMap="BlogUserResult">
        <include refid="selectBlogUserVo"/>
        <where>  
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="birthday != null  and birthday != ''"> and birthday = #{birthday}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
        </where>
    </select>
    
	<select id="selectBlogUser" parameterType="BlogUser" resultMap="BlogUserResult">
        <include refid="selectBlogUserVo"/>
        <where>  
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
        </where>
    </select>
	
    <select id="selectBlogUserByUserId" parameterType="Long" resultMap="BlogUserResult">
        <include refid="selectBlogUserVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertBlogUser" parameterType="BlogUser" useGeneratedKeys="true" keyProperty="userId">
        insert into blog_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null">account,</if>
            <if test="nickname != null">nickname,</if>
            <if test="password != null">password,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="birthday != null">birthday,</if>
            <if test="introduction != null">introduction,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null">#{account},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="password != null">#{password},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBlogUser" parameterType="BlogUser">
        update blog_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account = #{account},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteBlogUserByUserId" parameterType="Long">
        delete from blog_user where user_id = #{userId}
    </delete>

    <delete id="deleteBlogUserByUserIds" parameterType="String">
        delete from blog_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

	<select id="selectBlogUserVos" resultMap="BlogUserVoResult">
        select user_id, account, nickname from blog_user
    </select>
</mapper>